<%- include('partials/header') %>

<section class="not-found">
  <h1 class="big-404">404</h1>
  <p>Message not found.</p>
  <a href="/" class="btn-submit">Back to Messageboard</a>
</section>

<%- include('partials/footer') %>
