#project_form {
  margin-top: 15px;
  display: none;
  flex-direction: column;
  gap: 10px;
}

#project_form.visible {
  display: flex;
}

#project_form label {
  font-size: 1.2rem;
}

#project_form input,
#project_form textarea {
  border: 0;
  border-radius: 25px;
  padding: 5px;
}
